Library
Logs/shadercompiler-UnityShaderCompiler.exe4.log
Logs/shadercompiler-UnityShaderCompiler.exe5.log
Logs/shadercompiler-UnityShaderCompiler.exe6.log
obj/Debug/Assembly-CSharp-Editor.csproj.AssemblyReference.cache
obj/Debug/Assembly-CSharp.csproj.AssemblyReference.cache
obj/Debug/build.force
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
UserSettings/Layouts/default-2021.dwlt
UserSettings/Layouts/default-2021.dwlt
UserSettings/Layouts/default-2021.dwlt
app.config
.vs/GameECS/v17/.suo
.vs/GameECS/project-colors.json
